<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/Design.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<div class="topnav">
    <b><img src="/images/WienerAC-Logo.png" height="38" width="120" /></b>
    <a href="/">Home</a>
    <a href="/howItWorks">So funktionierts</a>
    <a href="/contact">Kontakte</a>
    <a href="/qanda">häufige Fragen</a>
    <a href="/aboutUs">Über Uns</a>
    <label class="navsearch">
        <input type="text"  placeholder="">
    </label>
</div>

<div style="padding-top: 15rem; display: flex; align-content: center; align-items: center; justify-content: center; flex-direction: column;">
    <div class="container">
        <h4>Spieler zum Turnier hinzufügen</h4>
        <form action="/addPlayer" method="POST">
            <input type="hidden" name="spielId" value="{{spielId}}">
            <div class="row">
                <div class="col-md-6">
                    <label for="player1" class="form-label">Select Player 1:</label>
                    <select name="player1" id="player1" class="form-select">
                        {{#each players}}
                            <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="player2" class="form-label">Select Player 2:</label>
                    <select name="player2" id="player2" class="form-select">
                        {{#each players}}
                            <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Add Players</button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>


</body>
</html>
